*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}


body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif ;
    background-image:linear-gradient(135deg,#80eafa, #7079f7, #e4e4e4, #cbcbdb, #bcb5d4, #A950A1, #ff7cae);
    background-size: auto;
    
    min-height: 100vh;
    
 
}

.navbar-expand-lg navbar-light bg-light{
    list-style: none;
    padding: 0;
    background:rgb(38, 125, 224) !important;
    width: 90%;
    max-width: 1500px;
    margin: auto;
    flex-basis: 280px;
}
.navbar li a{
    text-decoration: none;
    color: rgb(166, 101, 219);
    padding:20px ;
    display: block;
}
.navbar li{
    display: inline-block;
    text-align: center;

}

.navbar li a:hover{
    background-color: rgb(148, 98, 241);
}






.carousel-item{
    width: 400px;
    height: 700px;
    overflow: hidden;
    position:static;
    margin: 12px;
    padding: 50px;
    border-radius: 0px;
    box-shadow: 5px 8px 12px rgb(149, 91, 241);
    cursor: pointer;
    transition: all 0.3s;
}
.carousel-item :hover{
    transform: scale(1.2);
    box-shadow: 13px 15px 37px black;
    
}
.carousel-item img{
    width: 100%;
    height: 100%;
    border: 5000px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    box-sizing: border-box;
}
.container p{
    font-size: 3rem;
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-0%, -0%);
    text-shadow: 0 0 8px rgb(46, 46, 46);
}

h1{
    color: rgb(44, 41, 41);
    text-shadow: 1px 2px 2px rgba(99, 171, 212, 0.623); 
    text-align: left;

}
h2{ 
    color: rgb(44, 41, 41);
    text-shadow: 1px 2px 2px rgba(99, 171, 212, 0.623); 
    text-align: center;
    margin: 50px;
    overflow: hidden;
    margin-bottom: -10.05rem !important;
    margin-top: 85px !important;
}
h3{
    color: rgb(44, 41, 41);
    text-shadow: 1px 2px 2px rgba(99, 171, 212, 0.623); 
    text-align: center;
    margin: 50px;
    overflow: hidden;
}



div.galeria{
    position: relative;
    height: 350px;
    width: 450px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(117, 117, 117, 0.623);
    cursor: pointer;
}
div.emprendimientos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

div.galeria img{
 width: 100%;
 height: 100%;
 transition: all 500ms ease-out;
   
    
}

div.galeria:hover{
    border: 1px solid lightseagreen;
    transform:scale(1.1);
}



.contenedor {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;


	
}

.titulo {
	font-size: 24px;
	padding: 20px 0;
}

.contenedor-logo {
    /*
    width: 70%;
    display: flex;
    flex: wrap;*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
	
}

.card {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
  /*  width: 33.33%;*/

	
}
h3{
    color: rgb(103, 54, 238);
}

.card .textos {
	height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

	
}

.banner {
	border-radius: 10px;
	text-align: center;
	padding: 20px;
	background-size: cover;
	background-position: center center;
    

display: flex;
flex-direction: column;
justify-content: space-between;



}

.banner ul {
	list-style: none;
}

.banner ul li {
	margin: 15px;
	font-weight: bold;
}

.banner .boton {
	background: #FFD600;
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 10px;
	border: none;
	border-radius: 100px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

.banner ul {
	list-style: none;
}

.banner ul li {
	margin: 15px;
	font-weight: bold;
}

.banner .boton {
	background: #FFD600;
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 10px;
	border: none;
	border-radius: 100px;

	cursor: pointer;
}


/*div.flex-container{
    border: 1px solid cornflowerblue;
    background-color: aliceblue;
    padding: 20px;
    display: flex;
    flex-flow: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 600px;
margin: 0 auto;
}
.caja{
    border: 1px solid rgb(0, 0, 0);
    background-color: #FFD600;
    color: black;
    font-weight: 20px*/;
/*div.gird-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
}*/
@media screen and (max-width: 900px) {
}
	


@media screen and (max-width: 700px) {
	
}

@media screen and (max-width: 600px) {
}