*{
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/*<!--GENERAL-->*/
body{
    font-family: 'Roboto', sans-serif;
  
    background-attachment: fixed;
    margin: 0;
    background-image:linear-gradient(135deg,#ff9583, #7398e1ad, #e4e4e4, #cbcbdb, #fbb990b5, #4289d1b3, #e9a718);
    
}


h1{ font-size: 3.5em;
text-align: center;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: #31367a;
}

button:hover{
    background-color: #b24f84;
}

header{
   
   

    z-index: 10 !important;
    
   
}




header .container{
    flex-direction: row;
    justify-content: space-between;
}

header nav{
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 0px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;}


/*<!--carrusel-->*/

.carouselExampleSlidesOnly{
    z-index: 10 !important;
}

.carousel-inner button{
    font-size: 1.75em;
    
color: white;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-shadow: 0 0 8 rebeccapurple;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    background-size: cover;
    
}
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0%;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    opacity: 0.7;
    
}
.container-fluid{
    background-image:linear-gradient(135deg,#ff9583, #7398e1ad, #e4e4e4, #cbcbdb, #fbb990b5, #4289d1b3, #e9a718);
}



.parrafo  p{
    display: flex;
   justify-content: end;
 
}

/*<!--Cartas principal-->*/

#img{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#img h1{
    color: white;
}

#img button{
    font-size: 1.75em;
}
    

    
    #nuestras-propuestas{
        background-image:linear-gradient(135deg,#ff9583, #7398e1ad, #e4e4e4, #cbcbdb, #fbb990b5, #4289d1b3, #e9a718);
        background-size: auto;
        color:rgb(255, 255, 255);
        text-align: center;
       
    }
    
    #nuestras-propuestas .container{
        padding: 150px 12px;
    }
    
    #nuestras-propuestas h2{
        margin-top: 0;
        font-size: 3.2em;
    }
    
    #nuestras-propuestas p{
        display: none;
    }
    
    #nuestras-propuestas .carta{
        background-position: center center;
        background-size: cover;
        padding: 50px 0px;
        margin: 30px;
        border-radius: 15px;
    }

    #nuestras-propuestas .programas{
        display: flex;
        justify-content: center;
    }

    #nuestras-propuestas p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestras-propuestas h2{
        font-size: 4em;
    }

    #nuestras-propuestas h3{
        margin-top: 0;
    }

    #nuestras-propuestas .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(115deg,#ffffff, #f9fafb, #e4e4e4, #cbcbdb, #d98392, #e4d4e2, #ededed);
    background-size: auto;
    }

    .carta:nth-child(2){
        background-image: linear-gradient(145deg,#ffffff, #f9fafb, #e4e4e4, #cbcbdb, #d98392, #e4d4e2, #ededed);
    background-size: auto;
    }

    .carta:nth-child(3){
        background-image: linear-gradient(45deg,#ffffff, #f9fafb, #e4e4e4, #cbcbdb, #d98392, #e4d4e2, #ededed);
    background-size: auto;

    }


  /*<!--final -->*/


    #final{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color:#31367a;
        color: white;
        height: 45vh;
    }
    
    #final h2{
        font-size: 9vw;
    }
    
    #final button{
        font-size: 5vw;
    }

    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }
    footer p{
        margin: 0;
        padding: 12px;
        color: rgb(255, 245, 245);
    }
    
    footer .container{
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    
    @media (min-width: 850px){
        header{
            position: fixed;
            width: 100%;
        }

.pie-pagina{
    width: 100%;
    background-color: #464647;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{ 
    color: white;
    margin-bottom: 10px;

}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #3d3e7c;
    text-align: center;
    transition: all 300ms ease;


}
.pie-pagina .grupo1 .red-social a:hover{
    color: #760feb;
}
.pie-pagina .grupo-2{
    
    padding: 15px 10px;
    text-align: center;
    color:white;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}


footer{
    background-color: rgba(50, 50, 50, 1);
}


/*<!--seccion formulario-->*/


.form {
  
    width: 500px;
    margin: 200px;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 80px;
    border-radius: 16px;
}
.form h2{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
    
}
.form input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
}
.form textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

/*<!--responsive-->*/

@media (min-width: 780px)and (max-width 1024px) {
   
    } 
    
    
    
@media (min-width: 480px) (max-width 780px) {}

    @media (min-width: 480px) 
